/* Social Icon Base */
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px; /* Increased icon size */
  background-color: #112d57;
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Hover Effects for individual platforms */
.social-icon:hover {
  color: white;
}

.social-icon.facebook:hover {
  background-color: #3b5998; /* Facebook Blue */
}

.social-icon.instagram:hover {
  background-color: #e1306c; /* Instagram Pink */
}

.social-icon.youtube:hover {
  background-color: #ff0000; /* YouTube Red */
}

.social-icon.whatsapp:hover {
  background-color: #25D366; /* WhatsApp Green */
}
