.product-card{
    height: 500px;
    width: 100%;
    display: flex;
    overflow: scroll;
    
}

.product-card::-webkit-scrollbar {
    display: none;
  }

  .product-card .product-card-info{
    height: 460px !important;
    width: 100%;
    margin: 0px 10px;
    background-color: white;
    text-align: center;
    border: .5px solid rgb(206, 203, 203);
    transition: .3s;
    position: relative; 
  }
  .product-card .product-card-info .product-img{
    height: 260px !important;
  }
  .product-card .product-card-info img{
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .product-card .product-card-info:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .product-card .product-card-info .product-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
  }

  .item-description {
    font-size: 0.95rem;
    color: #333;
    text-align: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .product-brand {
    position: absolute;
    top: -5px;
    left: -4px;
    width: 80px;
    height: 80px;
    background-image: url('../assets/brand.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 90px;
    z-index: 10;
    font-size: 10px !important;
  }
  .product_btn{
    background: none;
    border: 1px solid rgb(146, 143, 143);
    transition: .5s;
    margin-top: 5px;
  }
  
  .product-card .product-card-info:hover button{
    background-color: #235bb0;
    color: white;
  }

  .product_btn:hover{
    background-color: #102D59 !important;
  }


  .item-titles {
    font-size: 0.95rem;
    color: #333;
    text-align: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 250px !important;
  }